@import url('./views/main-view.css');
@import url('./views/dashboard-view.css');
@import url('./views/task-create-view.css');
@import url('./views/doc-create-view.css');
@import url('./views/task-list-view.css');
@import url('./views/doc-import-view.css');
@import url('./views/doc-list-view.css');
@import url('./views/report-view.css');
@import url('lumo-css-framework/all-classes.css');    html {
      --lumo-font-size: 1.0rem;
      --lumo-font-size-xxxl: 1.75rem;
      --lumo-font-size-xxl: 1.375rem;
      --lumo-font-size-xl: 1.125rem;
      --lumo-font-size-l: 1rem;
      --lumo-font-size-m: 0.875rem;
      --lumo-font-size-s: 0.8125rem;
      --lumo-font-size-xs: 0.75rem;
      --lumo-font-size-xxs: 0.6875rem;
      --lumo-line-height-m: 1.4;
      --lumo-line-height-s: 1.2;
      --lumo-line-height-xs: 1.1;
      --lumo-size-xl: 3rem;
      --lumo-size-l: 2.5rem;
      --lumo-size-m: 2rem;
      --lumo-size-s: 1.75rem;
      --lumo-size-xs: 1.5rem;
      --lumo-space-xl: 1.875rem;
      --lumo-space-l: 1.25rem;
      --lumo-space-m: 0.625rem;
      --lumo-space-s: 0.3125rem;
      --lumo-space-xs: 0.1875rem;
      --lumo-font-family: "Open Sans Pro", sans-serif;

    }

#vaadin-license-validation-notification-vaadin-chart{
	display:none !important;
}
#vaadin-license-validation-notification-vaadin-board{
	display:none !important;
}
#vaadin-license-validation-notification-vaadin-confirm-dialog{
	display: none !important;
}

/* ----------- Laptop HD Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
 	html{
 		font-size: 85%;
 	}
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
	html{
 		font-size: 90%;
 	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
	html{
 		font-size: 90%;
 	}
}